<!DOCTYPE html>
<html>

<head>
  <title>手机管理</title>
  <link rel='stylesheet' href='/css/style.css' />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/reset.css">
  <style>
    img{
      width: 60px;
      height: 80px;
      margin:10px 0;
    }
    td{
      text-align: center;
    }
    .table tr td span{
      display: block;
      margin-top:40px;
    }
    .main-right{
      position: relative;
    }
    .main-right .table tbody tr .tdlist{
      padding:45px 0;
    }
    .tab{
      display: none;
      width: 280px;
      background: palegoldenrod;
      position: absolute;
      top:50%;
      left:50%;
      padding: 10px;
      margin:-170px 0 0 -130px;
    }
    .tab-f label{
      float:right;
      color:rebeccapurple;
      margin-bottom: 25px;
      font-size: 14px;
    }
    .tab-h{
      text-align: center;
      padding: 20px 0;
    }
    .tab .tab-f .inpt{
      width: 240px;
      font-size: 16px;
    }
    .bnn{
      float: left;
      margin-left: 25px;
    }
    .bbb{
      float: right;
      margin-right:25px;
    }
  </style>
</head>

<body>
  <div class="continer">
    <%- include('./common/head.ejs') %>
    <div class="main">
      <%- include('./common/maue.ejs')%>
      <div class="main-right">
        <h1>手机管理</h1>
        <form class="right-f">
          <p class="btn but btn-primary">新增</p>
        </form>
        <table class="table table-bordered tablist">
          <thead>
            <tr>
              <th>序号</th>
              <td>图片</td>
              <td>手机名称</td>
              <td>所属品牌</td>
              <td>官方指导价</td>
              <td>二手回收价</td>
              <td>操作</td>
            </tr>
          </thead>
          <tbody>
              <% for(var i = 0;i< data.length;i++){%>
                <tr>
                    <th scope="row"><%= i+1%></th>
                    <td><img src="/<%= data[i].filename%>"></td>
                    <td><span><%= data[i].name%></span></td>
                    <td><span><%= data[i].brand%></span></td>
                    <td><span><%= data[i].price%></span></td>
                    <td><span><%= data[i].prices%></span></td>
                    <td class="tdlist">
                      <button class="btn-b btn">修改</button>
                      <button class="bbn btn-default">删除</button>
                    </td>
                  </tr>
              <%}%>
            
          </tbody>
        </table>
        <div class="tab">
          <form action="/phone/search" class="tab-f" method="POST" enctype="multipart/form-data">
            <h2 class="tab-h">添加修改</h2>
            <label>图片：<input type="file" name="file" class="inpt"></label>
            <label>手机名称：<input type="text" name="name"></label>
            <label>所属品牌：<input type="text" name="brand"></label>
            <label>官方指导价：<input type="text" name="price"></label>
            <label>二手回收价：<input type="text" name="prices"></label>
          <input type="submit" class="bnn" value="确定">
          </form>
          <button class="bbb">取消</button>
        </div>
        <div class="nav">
          <ul class="pagination">
            <li class="disabled">
              <a href="phone?pages=<%= pages-1<1? 1:pages-1 %>&pageSizes=<%= pageSizes%>" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <% for(var i = 0; i< totapages;i++){%>
              <li class="<%= pages===(i+1)? 'active':'' %>">
                <a href="phone?pages=<%= i+1%>&pageSizes=<%= pageSizes%>"><%= i+1%> 
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            <%}%>
            <li>
              <a href="phone?pages=<%= pages+1>totapages? totapages:pages+1 %>&pageSizes=<%= pageSizes%>" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include('./common/foot.ejs') %>
  </div>
</body>

</html>
<script src="js/jquery.js"></script>
<script>
  $('.but').click(function(){
    $('.tab').css("display","block");
  })
  $('.bnn').click(function(){
    $('.tab').css("display","none");
  })
  $('.bbb').click(function(){
    $('.tab').css("display","none");
  })
</script>